.SimpleMessageCont {
    position: relative;
    display: flex;
    flex-direction: column;
}

.SimpleMessageBody {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.TextCont {
    margin: 16px 16px 0px 16px;
}

.Avatar {
    margin-top: 16px;
}

.MessageInfoCont {
    font-size: 8px;
    bottom: 8px;
    border-radius: 15px;
    background-color: #00000080;
    padding: 8px;
    color: white;
    justify-content: center;
    position: absolute;
}

.TextOnlyMessage {
    font-size: 8px;
    align-self: end;
    margin: 8px;
    display: flex;
    align-items: center;
}